.nav-login {
                  color:white;
                  list-style: none;
                  margin-top: 10px;
                 }   
ul {
    list-style: none;
    }

.navbar-brand {
                font-weight: bold;               
}


.header :hover {
                    color: gray;
}


  
body { 

    font-family: Arial, sans-serif;
    color: white;
    background:  #0a0a0a;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set height to full viewport height */
    margin: 0;
    }
h2 {
     font-weight: bold;
    }

form {
        color: black;
}


main {
      flex: 1; /* This pushes the footer down by filling all available space */
}

.card {       
            color: white;
            background: #0d0d0d;
            border: 1px solid #222;
            border-radius: 8px;
            padding: 15px;
            width: 100%;
            margin-bottom: 20px;
            
           }

.card-img-top {
                height: 200px;       /* force same height */
                object-fit: cover;   /* crops card nicely instead of stretching */
              }


.card-body:hover {
            transform: scale(1.03);
            transition: 0.3s;
}
.list-group-item {
                  color: white;
                  background: #0d0d0d;
                  border: 1px solid #222;
                  border-radius: 8px;
                  padding: 15px;
                 }
                
.list-group-item:hover {
                        transform: scale(1.03);
                        transition: 0.3s;
}

audio {
       width: 250px;
        filter: invert(1) hue-rotate(180deg); /* changes color of audio files */
  
      }

.card-container{
                display: flex;
                gap: 20px; /* space between cards */
                flex-wrap: wrap;
                
}

.form-floating {
                margin-bottom: 20px;
                }


.submit-button{
               margin-top: 20px;
              }

.footer {
         background-color: black;
         color: white;
         text-align: center;
         padding: 10px;
        
        }

.beats li {
        list-style: none;
}

.beats h2 {

            font-weight: bold;
            color: black;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
.beats audio {
                width: 300px;
}

.card-body h4 {
                font-weight: bold;
            }

.table img {
            width:50px;
            height:50px;
            object-fit: cover       ;
}

