.nav-login {
                  color:white;
                  list-style: none;
                  margin-top: 10px;
                 }   
ul {
    list-style: none;
    }
.navbar-brand {
                font-weight: bold;               
}


.header :hover {
                    color: aqua;
}

nav :hover {
            color: aqua;

}

  
body { 

    font-family: Arial, sans-serif;
    color: black;
    background: linear-gradient(to right, #0a1f44, #1c3b70);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set height to full viewport height */
    margin: 0;
    }
h2 {
     font-weight: bold;
    }

main {
      flex: 1; /* This pushes the footer down by filling all available space */
}

.card {       
            color: white;
            background: #0d0d0d;
            border: 1px solid #222;
            border-radius: 8px;
            padding: 15px;
            width: 100%;
            margin-bottom: 20px;
           }

.card-img-top {
                height: 200px;       /* force same height */
                object-fit: cover;   /* crops card nicely instead of stretching */
              }

.card-body:hover {
            transform: scale(1.03);
            transition: 0.3s;
}
.list-group-item {
                  color: white;
                  background: #0d0d0d;
                  border: 1px solid #222;
                  border-radius: 8px;
                  padding: 15px;
                 }
                
.list-group-item:hover {
                        transform: scale(1.03);
                        transition: 0.3s;
}

audio {
       width: 250px;
      }

.card-container{
                display: flex;
                gap: 20px; /* space between cards */
                flex-wrap: wrap;
                
}

.form-floating {
                margin-bottom: 20px;
                }


.submit-button{
               margin-top: 20px;
              }

.footer {
         background-color: gray;
         color: black;
         text-align: center;
         padding: 10px;
        
}