
.nav {
    background-color: black; 
    overflow: hidden;
    position: relative;
    z-index: 1000;
    }
.nav ul {
         list-style-type : none;
        }

.nav ul li {
            float : left;
            padding : 40px;
            font-size : 35px;
            font-weight : bold;
            color: white;           
           }

.nav-login {
                  color:white;
                 }   

.heading {
          text-align: center;
          color: black;
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          }      
body { 

    font-family: Arial, sans-serif;
    background-color: gray;
    color: black;
    }
.card {
            background-color: black;
            color: white;
           }
.list-group-item {
                  background-color: black;
                  color: white;
                 }

